@import "../../_globalColor";

.Habilidades-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.Habilidades-text-div {
  margin-left: 50px;
}

.Habilidades-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.Habilidades-image-div > img {
  max-width: 100%;
  height: auto;
}

.Habilidades-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .Habilidades-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .Habilidades-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .Habilidades-main-div {
    flex-direction: column;
  }
  .Habilidades-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .Habilidades-text {
    font-size: 16px;
  }
  .Habilidades-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .Habilidades-image-div {
    /* display: none; */
    order: 2;
  }
}
